/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-bg
    }

* {touch-action: manipulation;}

.btn {
    @apply bg-fg1  text-bg  rounded py-1 px-10 hover:bg-fg1/95 active:scale-95 transition-all
  }
